__pycache__/
*.pyc
.DS_Store
*.egg-info/
.venv/
venv/
env/
data/face_crops/*
data/temp/*
data/*.index
data/*.db
data/logs/*
!data/face_crops/.gitkeep
!data/temp/.gitkeep
!data/logs/.gitkeep
models/insightface_models/models/
models/models/
models/insightface_models/*.zip
*.exe
FaceSearch_Windows/
FaceSearch_Windows.zip
